{
  "env": {
    "development": {
      "passPerPreset": true,
      "presets": [
        {
          "plugins": [
            "./babelRelayPlugin"
          ]
        },
        "react-native"
      ]
    }
  }
}
